body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 18px;
  line-height: 1.4;
  margin: 0;
}

.head {
  border: red solid 0.1rem;
  display: flex;
  flex-direction: column;
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-5/tortoiseshell-optics/resources/images/glasses-bg.png");
  height: 31rem;
  background-size: cover;
  background-repeat: no-repeat;
}

#titlebar {
  border: blue solid 0.05rem;
  display: flex;
  flex-direction: row;
  background-color: cadetblue;
  color: white;
  font-size: 1rem;
  margin-top: 1rem;
  margin-left: 9rem;
  width: 960px;
}

#titlehd {
  padding-top: 1rem;
}

#menufull {
  border: blue solid 0.05rem;
  display: flex;
  flex-grow: 1;
  justify-content: flex-end;
}

#menufull h4{
  padding-top: 1rem;
  padding-right: 2rem;
  padding-bottom: 1rem;
}

#whtlogo {
  align-self: center;
  height: 1.5rem;
  padding-left: 2rem;
  padding-right: 1rem;
}

#mobmenu {
  display: none;
}

#splash {
  font-size: 2rem;
  line-height: 1.2;
  background-color: white;
  height: 8rem;
  width: 32rem;
  margin-top: 10rem;
  margin-left: 45rem;
}

#splash h4 {
  padding-top: 1.5rem
  padding-right: 5rem;
  padding-left: 5rem;
}

.services {
  border: red solid 0.1rem;
}

.info {
  border: red solid 0.1rem;
}

.foot {
  border: red solid 0.1rem;
}
