body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 18px;
  line-height: 1.4;
  margin: 0;
}

.head {
  display: flex;
  flex-direction: column;
  /*still want to get this background to load from local file*/
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-5/tortoiseshell-optics/resources/images/glasses-bg.png");
  height: 31rem;
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: 3rem;
}

#titlebar {
  display: flex;
  flex-direction: row;
  background-color: cadetblue;
  color: white;
  font-size: 1rem;
  margin-top: 1rem;
  margin-left: 9rem;
  width: 960px;
}

#titlehd {
  padding-top: 1rem;
}

#menufull {
  display: flex;
  flex-grow: 1;
  justify-content: flex-end;
}

#menufull h4{
  padding-top: 1rem;
  padding-right: 2rem;
  padding-bottom: 1rem;
}

#whtlogo {
  align-self: center;
  height: 1.5rem;
  padding-left: 2rem;
  padding-right: 1rem;
}

#mobmenu {
  display: none;
}

#splash {
  font-size: 2rem;
  line-height: 1.2;
  background-color: white;
  height: 8rem;
  width: 32rem;
  margin-top: 10rem;
  margin-left: 45rem;
}

#splash h4 {
  padding-top: 1.5rem
  padding-right: 5rem;
  padding-left: 5rem;
}

/*services area of the site*/

.services {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 3rem;
}


#compex, #custfit, #fastdev p{
  text-align: center;
}

#compex {
  margin-left: 10rem;
}

#compex img {
  height: 5rem;
}

#custfit img {
  width: 5rem;
  padding-bottom: 2.5rem;
}

#fastdev {
  margin-right: 10rem;
}

#fastdev img {
  width: 5rem;
  padding-bottom: 2rem;
}

/*info section for the site*/

.info {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.info h4{
  font-size: 1rem;
  color: white;
  background-color: cadetblue;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1.25rem;
  width: 15rem;
  margin-left: 10rem;
  margin-right: 10rem;
}

.info p {
  width: 35%;
  margin-left: 10rem;
}

/*footer for the site*/

.foot {
  margin-top: 5rem;
  display: flex;
  flex-direction: row;
  height: 9rem;
  background-color: azure;
  margin-left: 9rem;
  width: 960px;
}

#blklogo {
  height: 1rem;
  padding-top: 4rem;
  padding-left: 4rem;
}

.foot p {
  padding-left: 1rem;
  padding-top: 2.5rem;
}

@media only screen and (max-width: 1024px) {

  body {
    width: 100%;
  }

  .head {
  height: auto;
  }

  #titlebar {
  width: 100%;
  margin-top: 0;
  margin-left: 0;
}

#splash {
  font-size: 1.33rem;
  margin-left: 37rem;
  margin-bottom: 10rem;
  height: 6rem;
  width: 23rem;
}

#splash h4 {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  padding-right: 0rem;
  padding-left: 4rem;
}

.foot {
  margin-left: 0rem;
  width: auto;
}

}

@media only screen and (max-width: 470px) {
  #menufull {
    display: none;
  }

  #titlehd {
    display: none;
  }

  #mobmenu {
    display: inline-block;
    color: white;
    font-size: 1rem;
    flex-grow: 1;
    text-align: right;
    padding-right: 1rem;
    }

    .head {
      background-position: 20%;
    }

    #splash {
      margin-bottom: 1rem;
      width: 100%;
      margin-left: 0;
      height: 3rem;
    }

    #splash h4 {
      font-size: 1rem;
      padding: 0;
      text-align: center;
    }

    .services {
      flex-direction: column;
      margin-bottom: 3.77rem;
      align-content: space-between;
    }

    #compex {
      margin-left: 0;
    }

    #fastdev {
      margin-right: 0;
    }

    #fastdev img {
      padding-bottom: 0;
      margin-left: 10.5rem;
    }

    #custfit img {
      padding-bottom: 0;
    }

    .info {
      flex-direction: column;
    }

    .info h4 {
      padding: 1rem 0 0 0;
      width: 100%;
      height: 3rem;
      text-align: center;
      font-size: 1.5rem;
      margin-left: 0;
      margin-right:0;
    }

    .info p{
      width: 100%;
      margin-left: 0;
    }

}
